<ul class="menu">
	<li><%= link_to "首页", :controller => "cn", :action => "home"  %></li>
	<li><%= link_to "作品", :controller => "cn", :action => "gallery" %></li>
	<li><%= link_to "摄影", :controller => "cn", :action => "photography" %></li>
	<li><%= link_to "摄像", :controller => "cn", :action => "video" %></li>
	<li><%= link_to "婚纱", :controller => "cn", :action => "bridal_dress" %></li>
	<li><%= link_to "价格分类", :controller => "cn", :action => "package" %></li>
	<li><%= link_to "关于Ethan Lan", :controller => "cn", :action => "about" %></li>
	<li><%= link_to "联系我们", :controller => "cn", :action => "contact" %></li>
</ul>