<ul class="menu">
	<li><%= link_to "首页", "/cn/home" %></li>
	<li><%= link_to "作品", "/cn/work" %></li>
	<li><%= link_to "摄影", "/cn/photo" %></li>
	<li><%= link_to "摄像", "/cn/video" %></li>
	<li><%= link_to "价格分类", "/cn/price" %></li>
	<li><%= link_to "关于Ethan Lan", "/cn/about" %></li>
	<li><%= link_to "联系我们", "/cn/contact" %></li>
</ul>