<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <title>Ethanlanphotography | <%= @title %></title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= yield :css_extra  %>
  <%= javascript_include_tag "application" %>
  <%= yield :js_extra  %>
  <%= csrf_meta_tags %>
</head>
<body class="<%= params[:action] %>">
	<div id="main">
		<div id="left">
			<div id="left-inner">
				<%= link_to image_tag("logo.png", :width => 170), "/", :id => 'logo' %>
				<nav>
					<%= render 'layouts/menu_cn' %>
				</nav>	
			</div>
		</div>
		<div id="content">
			<div id="inner">
				<%= yield %>
			</div>
		</div>
	</div>
	

</body>
</html>
